<section class="section section-cta section-cta--services background--violet">
    <div class="row">
        <header class="section-header">

            <svg class="logo logo--services logo--white" aria-labelledby="title">
                <title>Logo BigchainDB Services</title>
                <use xlink:href="/assets/img/sprite.svg#logo-services"></use>
            </svg>

            <h1 class="section-title">Hands-on consulting and production support by blockchain experts.</h1>
        </header>

        <a class="btn btn-blue" href="{% link services.html %}">
            Explore Services
        </a>
    </div>
</section>
