<section class="section section-cta section-cta--whitepaper background--photo text-center">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Whitepaper</h1>
            <p class="section-description">BigchainDB: A Scalable Blockchain Database</p>
        </header>

        <a class="btn btn-violet" href="/whitepaper/">
            <svg class="icon">
                <use xlink:href="/assets/img/sprite.svg#icon-documents"></use>
            </svg>
            Read our Whitepaper
        </a>
    </div>
</section>
