<section class="section section-cta section-cta--services background--green">
    <div class="row">
        <header class="section-header">

            <div class="logo-services">
                <svg class="logo" aria-labelledby="title">
                    <title>Logo</title>
                    <use xlink:href="/assets/img/sprite.svg#logo"></use>
                </svg>
                <span class="logo-services--text">Services</span>
            </div>

            <h1 class="section-title">Hands-on consulting and production support by blockchain experts.</h1>
        </header>

        <a class="btn btn-blue" href="{% link services.html %}">
            Explore Services
        </a>
    </div>
</section>
