<section class="section section-partners">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Partners</h1>
            <p class="section-description">We are proud to partner and collaborate with</p>
        </header>
    </div>

    <figure class="partners text-center">
        <img class="img--responsive" alt="Our Partners: Tangent90, Interledger, Eris, Tymlez, Everledger, Capgemini, Recruit, ReThinkDB" src="/assets/img/partners.png" />
    </figure>

</section>
