<section class="section section--getstarted background--darker">
    <div class="row row--wide">
        <header class="section-header">
            <h1 class="section-title">Get to know the BigchainDB universe</h1>
            <div class="section-description">
                <p>Explore drivers, tools & a lot more documentation.</p>
                <a class="btn btn-primary" href="/getstarted/">Get started</a>
            </div>
        </header>
    </div>
    <aside class="starbase starbase--server">
        <div class="row row--wide">
            <figure class="starbase__image">
                <img class="img--responsive" src="/assets/img/nosprite/starbase-server.svg" alt="Starbase" width="1111" height="343">
            </figure>
        </div>
    </aside>
</section>
