.oceanprotocol {
    display: block;
    box-shadow: none;
    height: 100%;
    background: #141414;
    padding-top: $spacer / 1.5;
    padding-bottom: $spacer / 1.5;

    &:hover,
    &:focus {
        background: lighten(#141414, 5%);

        .oceanprotocol__title {
            opacity: 1;
        }
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

h1.oceanprotocol__title {
    font-size: .85rem;
    margin: 0;
    opacity: .7;
    color: #fff;
    font-weight: $font-weight-bold;
    transition: .2s ease-out;
}

.oceanprotocol__logo {
    fill: #fff;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: $spacer / 4;
    margin-bottom: -.4rem;
    display: inline-block;
}
