//
// Page: front
// ---
// bigchaindb.com
//

.page-front {
    .section--partners {
        @extend .background--darker
    }
}

.section-intro {
    .section-header {
        margin-bottom: $spacer * 2;
    }
}

.section-intro__main {
    @extend .text-center;
    margin-bottom: $spacer * 4;
    margin-top: $spacer;

    h3 {
        @extend .h4;
        display: block;
        margin-bottom: 0;
        margin-top: 0;
    }

    sub {
        font-size: .85rem;
    }

    .icon {
        display: block;
        margin: auto;
        margin-bottom: $spacer;
    }
}

.section-quickstart__title {
    @extend .h3;
    margin-top: 0;
}
