
.page-404 {
    position: relative;
    background-image: url('/assets/img/fail-cat.gif');
    background-size: cover;
    background-position: center center;
    @extend .color-overlay;
    min-height: 100vh;

    &:before {
        z-index: -1;
    }

    .header {
        background: none;
        &:before { display: none; }
    }

    .content--page--markdown {
        text-align: center;
        padding-top: 0;
        margin-bottom: ($spacer * 6);
    }

    .menu--footer {
        a { color: #fff }
    }
}
