.page-usecases {
    .section-header {
        &:first-of-type {
            margin-bottom: 0;
        }
    }
}

//
// Industry section
//
.section--industry {

    .section-header {
        margin-bottom: $spacer * 2;

        .icon {
            width: 48px;
            height: 48px;
            margin-bottom: $spacer / 2;
        }
    }

    .section-title,
    .section-description {
        text-align: left;
    }

    .section-title {
        @extend .h3;
        margin-top: 0;
        color: #fff;

        &:after {
            margin-left: 0;
            margin-top: $spacer;
        }

        &:last-child {
            margin-top: $spacer;
            color: $headings-color;

            &:after {
                display: none;
            }
        }
    }

    &:nth-child(even) {
        @extend .background--darker;

        .featuredusecase {
            border-top-color: $gray-dark;
        }
    }
}

.featuredusecase {
    border-top: 1px solid $gray-darker;
    padding-top: $spacer * 2;
    margin-top: $spacer * 2;

    @media ($screen-sm) {
        display: flex;
    }
}

.featuredusecase__logo {
    margin-right: $spacer;
    flex: 0 0 25%;
    width: 90px;
    height: 90px;
}

.featuredusecase__content {
    flex: 0 0 75%;
}

.featuredusecase__title {
    @extend .h4;
    margin-top: 0;

    a {
        color: $brand-main-green;
        box-shadow: none;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
}


//
// Single use case page
//
.content--usecase {
    > .row {
        > h2 {
            @extend .h3;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .testimonial {
        @extend .large;
        max-width: 80%;
        margin: $spacer * 4 auto;
    }
}

.header--usecase {
    .header__logo {
        width: 90px;
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $spacer;
    }
}
