//
// Page: Get started
// ---
// bigchaindb.com
//

.waiting {
    pre {
        min-height: 254px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        border: 1px solid $gray-dark;
        background: none;
    }
}

.response {
    pre {
        min-height: 254px;
        border: 1px solid $gray-dark;
        background: none;
    }
}

.form--transaction {
    padding-left: $spacer * 1.5;
    padding-right: $spacer * 1.5;
}

.section-title--numbered {
    span {
        text-align: center;
        display: block;
        margin: auto;
        margin-bottom: $spacer / 2;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        font-size: $font-size-lg;
        background: red;
        vertical-align: .4rem;
        background: $headings-color;
        color: $gray;
        font-weight: 400;
        line-height: 3rem;
    }

    .text-left & {
        span {
            display: inline-block;
            margin: 0;
        }
    }

    .background--light & {
        span {
            background: $gray-light;
            color: #fff;
        }
    }

    &:after {
        display: none;
    }
}

.driver {
    padding: $spacer;
    background: rgba($brand-main-blue-light, .15);
    border-radius: $border-radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: none;

    &:hover,
    &:focus {
        background: $brand-primary;
        box-shadow: 0 1px 4px rgba($brand-main-blue-dark, .4);
        transform: translateY(-1px);

        .driver__title {
            color: #fff;
        }

        .driver__logo {
            fill: #fff;
        }
    }

    &:active {
        outline: 0;
        transform: translateY(0);
        box-shadow: 0 1px 2px rgba($brand-main-blue-dark, .3);
    }
}

.driver,
.driver__logo,
.driver__title {
    @include transition;
}

.driver__logo {
    width: 2rem;
    height: 2rem;
    fill: $brand-primary;
}

.driver__title {
    @extend .h5;
    color: $brand-primary;
    margin-top: 0;
    margin-bottom: $spacer;
}

.driver__meta {
    @include text-small;
    width: 100%;
    align-self: flex-end;
    margin: 0;

    span {
        display: block;
    }
}

.driver__version {
    opacity: .75;
}

.driver--community {
    text-align: center;
    justify-content: center;

    .driver__title {
        width: 100%;
        margin-bottom: 0;
    }

    .driver__logo {
        margin-bottom: $spacer / 2;
    }
}

.section--community {
    text-align: center;

    .section-header {
        .section-description { margin-bottom: ($spacer * 2); }
    }

    .grid h1 {
        @extend .h3;
        margin-top: 0;
    }

    .social-link {
        &,
        .icon {
            @include transition;
        }
        display: inline-block;
        box-shadow: none;
        padding: $btn-padding-y-sm $btn-padding-x-sm;

        &:hover,
        &:focus {
            background: none;

            .icon {
                fill: lighten($brand-primary, 10%);
                filter: drop-shadow(0 1px 4px rgba($brand-main-blue-dark, .4));
                transform: translateY(-1px);

                &.icon--gitter {
                    stroke: lighten($brand-primary, 10%);
                }
            }
        }

        &:active {
            outline: 0;

            .icon {
                fill: $brand-primary;
                filter: drop-shadow(0 1px 2px rgba($brand-main-blue-dark, .3));
                transform: translateY(0);
            }
        }

        .icon {
            fill: $brand-primary;
            width: 1.5rem;
            height: 1.5rem;

            &.icon--gitter {
                stroke: $brand-primary;
            }
        }
    }

    .social-link__title {
        @include text-small;
        color: $brand-primary;
        display: block;
        text-align: center;
    }
}

.community__actions {
    border-bottom: 1px solid $gray-dark;
    margin-bottom: $spacer * 3;
    padding-bottom: $spacer * 3;

    h5 {
        margin-top: $spacer / 2;
        margin-bottom: $spacer / 4;
    }

    .icon {
        width: 2rem;
        height: 2rem;
        fill: $brand-main-blue-dark;
        opacity: .6;
    }

    .icon--gitter {
        stroke: $brand-main-blue-dark;
        stroke-width: 2;
    }
}
