//
// Page: enterprise
// ---
// bigchaindb.com
//
.page-enterprise {
    .section--partners {
        .partner {
            pointer-events: none;
        }
    }

    .feature {
        display: block;
    }

    .feature__icon {
        margin-top: 0;
        margin-bottom: $spacer / 3;
        width: 2rem;
        height: 2rem;
        stroke-width: 1px;
    }
}

.hero--enterprise {
    background-image: none;

    &,
    .section-title,
    .section-description {
        text-align: left;
    }

    .section-description {
        margin-bottom: $spacer * 2;
    }

    .hero__content {
        margin-top: $spacer * 6;
        margin-bottom: $spacer * 6;
    }

    @media ($screen-md) {
        height: auto;

        .section-title,
        .section-description {
            max-width: 66%;
            margin-left: 0;
        }
    }

    .btn {
        @extend .btn-secondary;
        min-width: 240px;

        &:first-of-type {
            @extend .btn-primary;
            margin-right: $spacer;
        }
    }
}

.section--enterpriseintro {
    .btn {
        margin-top: $spacer * 2;
    }
}

.form--enterprise {
    .grid {
        @media ($screen-sm) {
            justify-content: space-between;
        }
    }
    .grid__col {
        @media ($screen-sm) {
            flex-basis: 48%;
        }
    }
}
