.page-features {
    .header {
        background-position: bottom center;
    }
}
.table--comparison {
    .icon-check {
        width: 1rem;
        height: 1rem;
        margin: auto;
        display: block;
    }
}

.feature {
    display: flex;
    margin-bottom: $spacer;

    &:first-of-type { padding-top: 0; }
}

.feature__icon {
    flex: 0 0 15%;
    margin-right: 5%;
    margin-top: 2px;
    margin-bottom: 0;
    width: 3rem;
    height: 3rem;
}

.feature__detail {
    flex: 0 0 80%;
}

.feature__title {
    font-size: $font-size-h4;
    margin-top: 0;
    margin-bottom: ($spacer / 3);
}

.feature__text {
    // @extend .text-dimmed;
    margin-bottom: 0;
}
.feture_roadmap {
  padding: 1rem 0 0 0;
}

.feature__title__comingsoon {
    @extend .small;
    font-family: $headings-font-family;
    color: $gray-light;
    background: $gray_darker;

    display: inline-block;
    margin-left: ($spacer / 2);
    padding: ($spacer / 4) ($spacer / 2);
    border-radius: 2px;
    vertical-align: middle;
}

.stacks__title {
    font-size: $font-size-h3;
}

.stacks__image {
    figcaption { margin: $spacer 0; }
}

.section-usecases {
    .grid {
        // manually center last column
        .grid__col:last-child {
            margin: auto;
        }
    }
}
