//
// Page: front
// ---
// bigchain.io
//

.section-features__main {
    .icon {
        display: block;
        margin: auto;
        margin-bottom: $spacer;
    }
}

.graph-bigchain {
    display: block;
}

// the SVG
#bigchain-graph {
    @media ($screen-md) {
        margin-left: -15%;
        margin-right: -15%;
        width: 130%;
    }

}

.section-features__main {
    @extend .text-center;
    margin-top: $spacer;

    h3 {
        display: block;
        font-size: $font-size-h4;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    sub {
        font-size: 0.85rem;
    }
}

.section-features__detail {}

.section-quickstart__title {
    @extend .h3;
    margin-top: 0;
}


.section-whitepaper {
    @extend .text-center;
}
