//
// Single use case page
//
.content--usecase {
    padding-top: $spacer * 4;
    padding-bottom: 0;

    > .row {
        > h2 {
            @extend .h3;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .testimonial {
        @extend .large;
        margin: $spacer * 4 auto;

        @media ($screen-sm) {
            max-width: 66%;
        }
    }

    .testimonial__quote {
        &:before {
            margin-left: -1.3rem;
        }
    }

    .testimonial__avatar {
        width: 5rem;
        height: 5rem;
        margin-top: $spacer;
    }
}

.header--usecase {
    padding-bottom: $spacer * 4;

    hgroup {
        margin-top: ($spacer * 3);
    }

    .header__title {
        padding-top: 0;
    }

    .header__logo {
        width: 140px;
        max-height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $spacer;
        fill: #fff;
    }

    .header__label {
        text-align: center;
        display: block;
        color: $brand-main-blue-light;
        font-size: $font-size-lg;
    }
}

.content__about {
    margin-top: $spacer * 4;
    background: $gray-dark;
    padding-top: $spacer * 3;
    padding-bottom: $spacer;
}

.content__about__title {
    @extend .h4;
    margin-top: 0;
    margin-bottom: $spacer;
}

.actionbar {
    a {
        display: block;
        padding: ($spacer * 2) $spacer;
        background: $brand-main-blue;
        color: #fff;
        text-align: center;
        box-shadow: none;
        font-family: $btn-font-family;

        &:hover,
        &:focus {
            background: lighten($brand-main-blue, 5%);
        }

        &.link-back {
            background: $brand-main-blue-dark;

            &:hover,
            &:focus {
                background: lighten($brand-main-blue-dark, 5%);
            }
        }
    }
}
