//
// Page: front
// ---
// bigchain.io
//

.page-front {
    .section-testimonials {
        border-top: 1px solid $gray;
    }
}

.section-intro {
    .section-header {
        margin-bottom: $spacer * 2;
    }
}

.section-intro__main {
    @extend .text-center;
    margin-top: $spacer;

    h3 {
        display: block;
        font-size: $font-size-h4;
        margin-bottom: 0;
        margin-top: 0;
    }

    sub {
        font-size: 0.85rem;
    }

    .icon {
        display: block;
        margin: auto;
        margin-bottom: $spacer * 2;
    }
}

.graph-bigchain {
    display: block;
}

// the SVG
#bigchain-graph {
    @media ($screen-md) {
        margin-left: -15%;
        margin-right: -15%;
        width: 130%;
    }

}

.section-intro__detail {}

.section-quickstart__title {
    @extend .h3;
    margin-top: 0;
}
