//
// Collection File
// ---
// bigchaindb.com
//

// Normalize all the things
@import 'normalize-css/normalize';
@import 'normalize-opentype.css/normalize-opentype.scss';

// Variables & Mixins
@import 'bigchain/variables';
@import 'bigchain/mixins';
@import 'bigchain/animations';

// Components
@import 'bigchain/typography';
@import 'bigchain/tables';
@import 'bigchain/buttons';
@import 'bigchain/forms';
@import 'bigchain/input-group';
@import 'bigchain/_select2-bigchaindb/layout';
@import 'bigchain/logo';
@import 'bigchain/icons';
@import 'bigchain/grid';
@import 'bigchain/media';
@import 'bigchain/menus';
@import 'bigchain/tabs';
@import 'bigchain/alerts';
@import 'bigchain/code';
@import 'bigchain/syntax';
@import 'bigchain/hero';
@import 'bigchain/header';
@import 'bigchain/footer';
@import 'bigchain/team';
@import 'bigchain/timeline';
@import 'bigchain/terminal';
@import 'bigchain/nyan';
@import 'bigchain/utilities';

// Content types
@import 'bigchain/content-page';
@import 'bigchain/comments';
@import 'bigchain/toc';
@import 'bigchain/newsletter';
@import 'bigchain/testimonials';

// Section specific styles
@import 'sections';

// specific page styles
@import 'page-front';
@import 'page-getstarted';
@import 'page-whitepaper';
@import 'page-404';
@import 'page-styleguide';
@import 'page-about';
@import 'page-features';
@import 'page-usecases';
@import 'page-contact';
@import 'page-cla';
@import 'page-partners';
@import 'page-enterprise';
@import 'page-faq';
@import 'oceanprotocol';
