//
// Page: front
// ---
// bigchain.io
//

.section-features {
    .icon {
        display: block;
        margin: auto;
        margin-bottom: $spacer;
    }
}

.graph-bigchain {
    display: block;
    margin-bottom: ($spacer * 2);


}

// the SVG
#bigchain-graph {
    @media ($screen-md) {
        margin-left: -10%;
        margin-right: -10%;
        width: 120%;
    }

}

.section-features__main {
    @extend .text-center;
    margin-top: $spacer;
}

.section-features__detail {}


.section-whitepaper {
    @extend .text-center;
}


.section-earlyaccess {

    form {
        max-width: $screen-sm-min;
        margin: auto;
    }

    .form-control {
        &:focus {
            border-color: #fff;
        }
    }
}
