
.section-difference {

}

.difference {
    display: flex;
    align-items: center;
    padding: ($spacer * 2) 0;

    &:first-of-type { padding-top: 0; }
}

.difference__icon {
    flex: 0 0 15%;
    margin-right: 5%;
}

.difference__text {
    flex: 0 0 80%;
}


.section-timeline {

    .timeline {
        color: #fff;
    }
}
