//
// Page: Community
// ---
// bigchain.io
//
.page-community {
    .header {
        background: url('../img/photo2.jpg') no-repeat center top;
        background-size: cover;
    }
}

.section-community,
.section-conduct {
    @extend .text-center;
}

.section-community {
    .grid h1 { @extend .h3; }

    .icon--social {
        width: 2rem;
        height: 2rem;
    }
}

.section-conduct {
    @extend .background--photo;
}
