//
// Page: front
// ---
// bigchain.io
//

.section-features {
    text-align: center;
    border-bottom: 1px solid lighten($brand-main-gray, 40%);

    figure {
        display: block;
        margin-bottom: ($spacer * 6);
        margin-top: -($spacer * 2);
    }

    .icon {
        display: block;
        margin: auto;
        margin-bottom: $spacer;
        stroke: $brand-main-gray;
    }
}

.section-whitepaper {

    a {
        @extend .transition;
        display: block;
        text-align: center;

        &:hover,
        &:focus {
            transform: scale(1.05);
        }
    }

    .icon {
        stroke: $link-color;
        stroke-width: 2;
        display: block;
        margin: auto;
        margin-bottom: $spacer;
    }
}


.section-earlyaccess {

    form {
        max-width: $screen-sm-min;
        margin: auto;
    }

    .form-control {
        &:focus {
            border-color: #fff;
        }
    }
}
