//
// Page: Community
// ---
// bigchain.io
//
.page-community {
    .header {
        background: url('../img/photo2.jpg') no-repeat center top;
        background-size: cover;
    }
}

.section-community,
.section-conduct {
    @extend .text-center;
}

.section-community {
    .grid h1 { @extend .h3; }

    .icon--social {
        width: 2rem;
        height: 2rem;
    }
}

.section-conduct {
    position: relative;

    // background
    background: url('../img/photo1.jpg') no-repeat center top;
    background-size: cover;

    // color overlay
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to top left, $brand-main-blue 0%, $brand-main-violet 100%);
        opacity: .7;
        z-index: 0;
    }

    .row { z-index: 1 }

    .section-title,
    .section-description {
        color: #fff;
    }
}
