---
layout: base
---

{% include header.html %}

<section role="main" class="content content--page">

    <section class="section section--about">
        <div class="row">
            <header class="section-header">
                <p class="section-description">{{ page.intro }}</p>
            </header>
        </div>
        <div class="row row--wide">
            <div class="grid grid--full grid-medium--columns grid--gutters">

                <div class="grid__col grid__col--2-3 story">
                    {{ content }}
                </div>

                <div class="grid__col grid__col--1-3">

                    <aside class="widget widget--mediakit">
                        <h2 class="widget__title">{{ page.mediakit.title }}</h2>
                        <p>{{ page.mediakit.description }}</p>
                        <a class="btn btn-primary btn-sm" href="{{ page.mediakit.link }}">{{ page.mediakit.download }}</a>
                    </aside>

                    <aside class="widget widget--logo">
                        <h2 class="widget__title">{{ page.brand.title }}</h2>
                        <p>{{ page.brand.description }}</p>

                        <div class="brand brand--dark">
                            <figure class="brand__logo">
                                <svg class="logo logo--sm logo--color" aria-labelledby="title">
                                    <title>Logo BigchainDB</title>
                                    <use xlink:href="/assets/img/sprite.svg#logo"></use>
                                </svg>
                            </figure>
                            <p class="brand__logo__download">
                                <a class="btn btn-secondary btn-xs" href="/mediakit/logo/logo-bigchaindb.svg" download>SVG</a>
                                <a class="btn btn-secondary btn-xs" href="/mediakit/logo/logo-bigchaindb.png" download>PNG</a>
                            </p>
                        </div>

                        <div class="brand brand--light">
                            <figure class="brand__logo">
                                <svg class="logo logo--sm logo--white--green" aria-labelledby="title">
                                    <title>Logo BigchainDB</title>
                                    <use xlink:href="/assets/img/sprite.svg#logo"></use>
                                </svg>
                            </figure>
                            <p class="brand__logo__download">
                                <a class="btn btn-secondary btn-xs" href="/mediakit/logo/logo-bigchaindb-white.svg" download>SVG</a>
                                <a class="btn btn-secondary btn-xs" href="/mediakit/logo/logo-bigchaindb-white.png" download>PNG</a>
                            </p>
                        </div>

                        <div class="brand brand--light brand--square">
                            <figure class="brand__logo">
                                <svg class="logo" aria-labelledby="title">
                                    <title>Logo BigchainDB</title>
                                    <use xlink:href="/assets/img/sprite.svg#logo-square"></use>
                                </svg>
                            </figure>
                            <p class="brand__logo__download">
                                <a class="btn btn-secondary btn-xs" href="/mediakit/logo/logo-bigchaindb-square.svg" download>SVG</a>
                                <a class="btn btn-secondary btn-xs" href="/mediakit/logo/logo-bigchaindb-square.png" download>PNG</a>
                            </p>
                        </div>

                    </aside>

                </div>

            </div>
        </div>
    </section>

    <section class="section section--team">
        <div class="row row--wide">
            <h1 class="section-title">Team</h1>

            {% include team.html %}
        </div>
    </section>

</section>
