---
layout: base
---

{% include header.html %}

<section role="main" class="content content--page content--guide">
    <div class="row content--page--markdown">

        {% if page.learn %}
        <header class="section-header section-header--guide">
            <div class="section-description">
                <h2>You will learn</h2>
                {{ page.learn | markdownify }}
            </div>
        </header>
        {% endif %}

        {{ content | toc }}

    </div>
</section>

<section class="section section--guides-more">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">More chapters</h1>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid-medium--third grid--gutters--small">
            {% for chapter in site.guide limit: 6 %}
                {% unless page.id == chapter.id %}
                    <div class="grid__col">
                        <article class="guide">
                            <a href="{{ chapter.url }}" {% if chapter.header %}style="background-image:url('../{{ chapter.header }}')"{% endif %}>
                                <h1 class="guide__title">{{ chapter.title }}</h1>
                            </a>
                        </article>
                    </div>
                {% endunless %}
            {% endfor %}
        </div>
    </div>
    <div class="row text-center">
        <a class="btn btn-primary" href="{% link developers/guide.html %}">All chapters</a>
    </div>
</section>

{% include sections/section-getstarted.html %}
