---
layout: base

cta:
    title: Meet BigchainDB
    description: The scalable blockchain database
    button: Get started
---

<header role="banner" class="header header--partner" {% if page.header %}style="background-image:url('/assets/img/{{ page.header }}')"{% endif %}>

    {% include menu-main.html %}

    <div class="row">
        <hgroup>
            <h1 class="header__title">{{ page.name }}</h1>
        </hgroup>
    </div>
</header>

<section role="main" class="section content content--page content--partner">

    {% assign slug =  page.title | downcase | remove: "." | replace: " ", "-" %}

    <div class="row row--narrow">
        <svg class="partner__logo partner__logo--{{ slug }}" aria-labelledby="title">
            <title>{{ page.name }}</title>
            <use xlink:href="/assets/img/sprite.svg#logo-{{ slug }}"></use>
        </svg>

        {{ content }}

        <aside class="partner__actions">
            {% if page.usecase %}
                <a class="btn btn-sm btn-primary" href="/usecases/{{ page.usecase }}">See use case</a>
            {% endif %}
            <a href="{{ page.link }}" rel="external">Visit {{ page.name }}</a>
        </aside>
    </div>

</section>

{% include sections/section-cta.html %}
