---
layout: base
---

<header role="banner" class="header header--post entry-header">

    {% include menu-main.html %}

    <div class="row">
        <h1 class="header__title entry-title">{{ page.title }}</h1>
    </div>
</header>

<section role="main" class="content content--post">

    <div class="row">

        <article class="hentry hentry--single">

            <section class="entry-content">

                {% if page.image %}
                    <img class="hentry__teaser" src="{{ page.image }}" alt="{{ page.title }}" />
                {% endif %}

                <div class="hentry__excerpt">{{ page.excerpt }}</div>

                {{ content }}

            </section>
        </article>

    </div>

</section>

{% if page.comments %}
    <footer class="comments">
        <div class="row">
            <h1 id="comments">Comments</h1>
            <div id="disqus_thread"></div>
        </div>
    </footer>
{% endif %}
