<aside class="banner--ninenine ninenine">
    <a href="https://2017.9984.io/?utm_source=bigchaindb.com&utm_medium=banner&utm_campaign=9984_banner">
        <div class="row row--wide">
            <h1 class="ninenine__title">9984 <em class="divider--9984">>></em> SUMMIT <span class="ninenine__tagline"><em class="divider--9984slashes">//</em> Blockchain Futures for Developers, Enterprises &amp; Society</span></h1>

            <h2 class="ninenine__meta">October 5 - 6, 2017 <em class="divider--9984slashes">//</em> Berlin, Germany <span class="ninenine__action">Get your ticket now</span></h2>
        </div>
    </a>
</aside>
