<aside class="banner">

    <a class="banner--oceanprotocol oceanprotocol" href="https://oceanprotocol.com/?utm_source=bigchaindb.com&utm_medium=banner&utm_campaign=ocean_banner">
        <div class="row row--wide">
            <h1 class="oceanprotocol__title">
                <svg class="oceanprotocol__logo">
                    <use xlink:href="/assets/img/sprite.svg#logo-oceanprotocol"></use>
                </svg>
                Meet Ocean. A Decentralized Data Exchange Protocol</h1>
        </div>
    </a>

</aside>
