<aside class="banner">

    <div class="grid grid--full grid-small--half">
        <div class="grid__col">
            <a class="banner--ocean ocean" href="https://oceanprotocol.com/?utm_source=bigchaindb.com&utm_medium=banner&utm_campaign=ocean_banner">
                <div class="row row--wide">
                    <h1 class="ocean__title">
                        <svg class="ocean__logo">
                            <use xlink:href="/assets/img/sprite.svg#logo-oceanprotocol"></use>
                        </svg>
                        Meet Ocean. A Decentralized Data Exchange Protocol</h1>
                </div>
            </a>
        </div>

        <div class="grid__col">
            <a class="banner--ninenine ninenine" href="https://2017.9984.io/?utm_source=bigchaindb.com&utm_medium=banner&utm_campaign=9984_banner">
                <div class="row row--wide">
                    <h1 class="ninenine__title">9984 <em class="divider--9984">>></em> SUMMIT <em class="divider--9984slashes">//</em> October 5 - 6, 2017 <em class="divider--9984slashes">//</em> Berlin, Germany</h1>
                    <h2 class="ninenine__meta"><span class="ninenine__action">Get your ticket now</span></h2>
                </div>
            </a>
        </div>
    </div>

</aside>
