<form id="newsletter"
    class="form--newsletter js-parsley"
    action="//ascribe.us9.list-manage.com/subscribe/post?u=56f2d3da26a7d407177d3fba3&id=0a99a9481e"
    method="post">

    <div class="form-group has-feedback">
        <div class="input-group">

            <input class="form-control" type="email" id="email" name="EMAIL" required>
            <label class="form-label" for="email">Your Email</label>

            <span class="input-group-btn">
                <button class="btn btn-blue" type="submit" name="button">
                    Subscribe
                </button>
            </span>

            <input type="hidden" name="GDPR" value="yes" />
        </div>

        <div class="form-control-feedback"></div>
    </div>
</form>
