<header role="banner" class="header header--{{ page.url | replace: '/','' }} header--{{ page.layout }}"
    {% if page.header %}
        {% if page.path contains '_guide' %}
        style="background-image:url('../{{ page.header }}');"
        {% else %}
        style="background-image:url('/assets/img/{{ page.header }}');"
        {% endif %}
    {% endif %}>

    {% include menu-main.html %}

    <div class="row">
        <div class="header__content">
            <h1 class="header__title">{{ page.title }}</h1>
            {% if page.tagline %}
            <h2 class="header__tagline">{{ page.tagline }}</h2>
            {% endif %}
        </div>
    </div>
</header>
