<header class="hero">

    {% include menu-main.html %}

    <div class="hero__content row">
        <hgroup>
            <h1 class="section-title">{{ page.tagline }}</h1>
            <a href="https://docs.bigchaindb.com/projects/server/en/latest/quickstart.html" class="hero__action btn btn-primary">Quick Start</a>
        </hgroup>
    </div>

    <aside class="hero__community">
        <div class="row row--wide">
            <a class="btn btn-text btn-sm" href="{{ site.social.github.url }}/{{ site.social.github.repo }}/releases/latest" rel="external"><span class="hero__community__label">Latest release</span> <strong class="release" id="release"></strong></a>

            <a class="social-link btn btn-text btn-sm js-social-link" href="{{ site.social.github.url }}/{{ site.social.github.repo }}" title="Star {{ site.social.github.org }}/{{ site.social.github.repo }} on GitHub">
                <svg class="icon icon--social icon--github" aria-labelledby="title">
                    <title>GitHub</title>
                    <use xlink:href="/assets/img/sprite.svg#github"></use>
                </svg> Star <span class="stars" id="stars"></span>
            </a>

            <a class="social-link btn btn-text btn-sm js-social-link" href="{{ site.social.twitter.url }}" title="Follow on Twitter">
                <svg class="icon icon--social icon--twitter" aria-labelledby="title">
                    <title>Twitter</title>
                    <use xlink:href="/assets/img/sprite.svg#twitter"></use>
                </svg> Follow
            </a>

            <a class="social-link btn btn-text btn-sm js-social-link js-social-link--meetup" href="{{ site.social.meetup.url }}">
                <svg class="icon icon--social icon--meetup">
                    <use xlink:href="/assets/img/sprite.svg#meetup"></use>
                </svg> <span class="meetup-title">BigchainDB &amp; IPDB Meetup</span>
            </a>
        </div>
    </aside>

    <a class="hero__more scroll btn btn-link btn-sm" href="#features">Learn More <svg class="icon"><use xlink:href="/assets/img/sprite.svg#icon-caret"></use></svg></a>

</header>
