<header class="hero">

    {% include menu-main.html %}

    <div class="hero__content row">
        <hgroup>
            <h1 class="hero__title section-title">{{ page.tagline }}</h1>
            <h2 class="hero__subtitle">{{ site.description }}</h2>
            <a href="{% link developers/getstarted.html %}" class="hero__action btn btn-primary">Get Started</a>
        </hgroup>
    </div>

    <a class="hero__more btn btn-link btn-sm" href="#features" data-scroll>Learn More <svg class="icon icon--caret"><use xlink:href="/assets/img/sprite.svg#icon-caret"></use></svg></a>

</header>
