<nav class="menu menu--main">
    <div class="row">
        <a class="menu__logo" href="/">
            <svg class="logo logo--sm" aria-labelledby="title">
                <title>Logo</title>
                <use xlink:href="/assets/img/sprite.svg#logo"></use>
            </svg>
        </a>

        {% for link in site.data.menus.main %}

            {% assign active = nil %}
            {% if page.url contains link.url %}
                {% assign active = 'active' %}
            {% endif %}

            <a class="menu__link" class="{{ active }}" href="{{ link.url }}">{{ link.title }}</a>

        {% endfor %}
    </div>
</nav>
