
<section class="section section-newsletter newsletter">
    <div class="row row--wide">

        <div class="grid grid--full grid-small--half grid--gutters grid--center">
            <div class="grid__col">
                <h1 class="newsletter__title">Get updates delivered to your inbox</h1>
                <p class="newsletter__text">No more than 1 email per month. We're busy too.</p>
            </div>
            <div class="grid__col">
                <form id="newsletter"
                    class="form-newsletter js-parsley"
                    action="//bigchaindb.us9.list-manage.com/subscribe/post?u=xxx&amp;id=xxx"
                    method="post">

                    <div class="form-group has-feedback">
                        <div class="input-group">

                            <input class="form-control" type="email" id="email" name="EMAIL" required>
                            <label class="form-label" for="email">Your Email</label>

                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" name="button">
                                    Subscribe
                                </button>
                            </span>

                        </div>

                        <div class="form-control-feedback"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
