
<section class="section section-newsletter newsletter">
    <div class="row row--wide">

        <div class="grid grid--full grid-small--half grid--gutters grid--center">
            <div class="grid__col">
                <h1 class="newsletter__title">Get updates delivered to your inbox</h1>
                <p class="newsletter__text">No more than 1 email per month. We're busy too.</p>
            </div>
            <div class="grid__col">

                {% include form-newsletter.html %}
                
            </div>
        </div>
    </div>
</section>
