<div class="table-responsive">
    <table class="table table--comparison">
        <thead>
            <tr>
                <th></th>
                <th>Traditional Blockchains</th>
                <th>Big Data</th>
                <th><svg class="logo logo--sm logo--white--green"><use xlink:href="/assets/img/sprite.svg#logo"></use></svg></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Immutability</td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>No Central Authority</td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>Assets Over Network</td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>High Throughput</td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>Low Latency</td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>High Capacity</td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>Rich Permissioning</td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
            <tr>
                <td>Query Capabilities</td>
                <td></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
                <td><svg class="icon icon-check"><use xlink:href="/assets/img/sprite.svg#icon-check"></use></svg></td>
            </tr>
        </tbody>
    </table>
</div>
