<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.social.twitter.handle }}">
<meta name="twitter:creator" content="@{{ site.social.twitter.handle }}">

{% if page.layout == 'usecase' %}
    <meta name="twitter:title" content="{{ page.company }} &bull; &bull; {{ page.industry }} &bull; &bull; {{ site.name }}">
{% elsif page.title %}
    <meta name="twitter:title" content="{{ page.title }} &bull; &bull; {{ site.name }}">
{% else %}
    <meta name="twitter:title" content="{{ site.name }} &bull; &bull; {{ site.description }}">
{% endif %}

{% if page.url %}
    <meta name="twitter:url" content="{{ site.url}}{{ page.url | replace:'index.html','' }}">
{% endif %}

{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
{% elsif page.front_page %}
    <meta name="twitter:description" content="{{ page.intro.description }}">
{% else %}
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% endif %}

{% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ page.image }}">
{% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/share-image.png">
{% endif %}
