---
layout: page

title: "The Hitchhiker's Guide to BigchainDB"
tagline: "This guide explains how to get started and build apps with BigchainDB"
image: share-image-guide.png
---

<section class="section section--guideslist">
    <div class="row">
        {% assign guide = site.guide | sort: 'order' %}
        {% for chapter in guide %}
            <article class="guide">
                <a href="{{ chapter.url }}" {% if chapter.header %}style="background-image:url('./{{ chapter.header }}')" {% endif %}>
                    <h1 class="guide__title">{{ chapter.title }}</h1>
                    <p class="guide__tagline">{{ chapter.tagline }}</p>
                </a>
            </article>
        {% endfor %}
    </div>
</section>

{% include sections/section-getstarted.html %}
