.content--page--markdown {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);

    @media ($screen-sm) {
        padding-top: ($spacer * 5);
        padding-bottom: ($spacer * 5);
    }

    > h1,
    h2,
    .faq__question {
        border-bottom: 2px solid $brand-main-blue-light;
        padding-bottom: $spacer;
        margin-bottom: ($spacer * 2);
        margin-top: ($spacer * 3);
        position: relative;

        &:hover {
            .header-link {
                opacity: 1;
                transform: translate3d(0, 0, 0) scale(.8);
            }
        }
    }

    .header-link {
        box-shadow: none;
        transition-timing-function: $timing-bounce;
        display: block;
        padding: 0 .25rem;
        opacity: 0;
        transform: translate3d(20px, 0, 0) scale(0);
        position: absolute;
        left: -1.15rem;
        top: 0;

        &,
        .header-icon {
            @extend .transition;
        }

        &:hover,
        &:focus {
            background: none;

            .header-icon {
                color: lighten($brand-primary, 10%);
            }
        }

        .header-icon {
            font-style: normal;
            font-size: $font-size-lg;
            color: $brand-primary;
        }
    }
}
