
.content--page {
    .row {
        > h1, h2 {
            border-bottom: 2px solid $gray-lightest;
            padding-bottom: $spacer;
            margin-bottom: ($spacer * 2);
            text-align: center;
        }
    }
}
