.content--page--markdown {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);

    @media ($screen-sm) {
        padding-top: ($spacer * 5);
        padding-bottom: ($spacer * 5);
    }

    > h1,
    h2 {
        &:not(#heading-1):not(#heading-2) {
            border-bottom: 1px solid $brand-main-blue-light;
            padding-bottom: $spacer;
            margin-bottom: ($spacer * 2);
            text-align: center;
        }

        .header-link {
            box-shadow: none;
            transition-timing-function: $timing-bounce;
            display: inline-block;
            padding: 0 .25rem;
            opacity: 0;
            transform: translate3d(20px, 0, 0) scale(0);

            &,
            .header-icon {
                @extend .transition;
            }

            &:hover,
            &:focus {
                background: none;

                .header-icon {
                    color: lighten($brand-primary, 10%);
                }
            }

            .header-icon {
                font-style: normal;
                font-size: 2rem;
                color: $brand-primary;
            }
        }

        &:hover {
            .header-link {
                opacity: 1;
                transform: translate3d(0, 0, 0) scale(.8);
            }
        }
    }
}
