//
// Fonts
// ---
// bigchain.io
//
@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Regular'),
         url('/assets/fonts/NotoSans-Regular.woff2') format('woff2'),
         url('/assets/fonts/NotoSans-Regular.woff') format('woff'),
         url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
