//
// Fonts
// ---
// bigchain.io
//
@font-face {
    font-family: 'Nunito';
    src: local('Nunito Regular'),
         url('/assets/fonts/Nunito-Regular.woff2') format('woff2'),
         url('/assets/fonts/Nunito-Regular.woff') format('woff'),
         url('/assets/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito SemiBold'),
         url('/assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
         url('/assets/fonts/Nunito-SemiBold.woff') format('woff'),
         url('/assets/fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
