
.footer {
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-top: 1px solid $gray-darker;
    color: $gray-light;
}

.footer__copyright {
    &,
    small {
        @extend .mini;
    }

    @media ($screen-md) {
        text-align: right;
    }
}
