
.footer {
    @extend .background--darker;
    border-top: 1px solid $gray;
    color: $gray-light;

    .grid__col {
        padding-bottom: 0;
    }
}


//
// Nice, clean sticky footer with flexbox
//
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    > .content { flex: 1; }
}
