//
// Hero
// ---
// bigchain.io
//

$menu-height-md: 73px;

.hero {
    @extend .background--photo;
    text-align: center;
    overflow: hidden;
    position: relative;

    .section {
        @media ($screen-md) {
            min-height: calc(100vh - #{$menu-height-md});
        }
    }

    .logo--full {
        fill-opacity: .8;
        margin: 0 auto;
        max-width: 31em;
    }

    .section-title {
        color: #fff;

        &:after { display: none }
    }

    .btn {
        color: #fff;
        opacity: .8;
        position: absolute;
        bottom: ($spacer * 3);
        left: 0;
        right: 0;
        width: 100%;
        display: none;

        @media ($screen-lg) {
            display: block;
        }

        &:hover,
        &:focus { opacity: 1; }

        // the caret
        .icon {
            width: 12px;
            height: 12px;
            stroke: #fff;
            display: block;
            margin: auto;
        }
    }

    // intro animation
    .logo--full,
    .section-title,
    .btn {
        @extend .animation-slide-in-from-bottom;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }

    .logo--full {
        animation-timing-function: $timing-default;
    }

    .section-title,
    .btn {
        @extend .animation-slide-in-from-bottom;
        animation-play-state: paused;
    }

    .btn { animation-delay: .2s; }

    &.is-ready {
        .section-title,
        .btn {
            animation-play-state: running;
        }
    }
}

.hero__content {
    position: relative;
    z-index: 1;
}


//
// Video hero
//
.hero-video {
    background: #000;

    &:before { display: none; }
}

.hero-video .menu,
.hero-video__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.hero-video__content {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

// video container
.hero-video__background {
    @extend .color-overlay;
    max-height: 100vh;

    &:before {
        opacity: .5;
    }

    z-index: 0;

    // poster image
    background: url('../img/hero-video-poster.jpg') no-repeat center center;
    background-size: cover;
}

// the video itself
.hero-video__video {
    @extend .img--responsive;

    // smoothly fade in when ready
    @extend .transition;
    //opacity: 0;

    &.enabled {
        opacity: 1
    }
}
