//
// Hero
// ---
// bigchain.io
//

$menu-height-md: 66px;

.hero {
    @extend .background--photo;
    background-image: url('../img/hero-berlin.jpg');
    text-align: center;
    overflow: hidden;
    position: relative;

    // vertically center everything
    display: flex;
    align-items: center;
    min-height: 480px;
    flex-wrap: wrap;

    @media ($screen-md) {
        height: 100vh;
    }

    .section-title {
        color: #fff;
        font-size: $font-size-h3;

        @media ($screen-sm) {
            font-size: $font-size-h2;
        }

        @media ($screen-md) {
            font-size: $font-size-h1;
        }

        &:after { display: none }
    }

    .btn-link {
        color: #fff;
        opacity: .8;
        position: absolute;
        bottom: $spacer;
        left: 0;
        right: 0;
        width: 100%;
        display: none;

        @media ($screen-md) {
            display: block;
        }

        &:hover,
        &:focus { opacity: 1; }

        // the caret
        .icon {
            width: 12px;
            height: 12px;
            stroke: #fff;
            display: block;
            margin: auto;
        }
    }

    // intro animation
    .section-title,
    .btn {
        @extend .animation-slide-in-from-bottom;
        animation-duration: 1s;
        animation-fill-mode: backwards;
    }

    .btn {
        animation-delay: .5s;
    }

    .btn-link {
        animation-delay: .8s;
    }
}

.hero__content {
    margin-bottom: $spacer * 4;

    @media ($screen-md) {
        align-self: flex-start;
        margin-bottom: 0;
    }
}
