//
// Hero
// ---
// bigchain.io
//

$menu-height-md: 66px;

.hero {
    @extend .background--photo;
    background-image: url('../img/hero-berlin.jpg');
    text-align: center;
    overflow: hidden;
    position: relative;

    // vertically center everything
    display: flex;
    align-items: center;
    min-height: 480px;
    flex-wrap: wrap;

    @media ($screen-md) {
        height: 100vh;
    }

    .section-title {
        color: #fff;
        font-size: $font-size-h3;

        @media ($screen-sm) {
            font-size: $font-size-h2;
        }

        @media ($screen-md) {
            font-size: $font-size-h1;
        }

        &:after { display: none }
    }

    // intro animation
    .section-title,
    .hero__action {
        .wf-active &,
        .wf-inactive & {
            @extend .animation-slide-in-from-bottom;
            animation-fill-mode: backwards;
        }
    }

    .hero__action {
        .wf-active &,
        .wf-inactive & {
            animation-delay: .5s;
        }
    }

    .hero__community,
    .hero__more {
        .wf-active &,
        .wf-inactive & {
            @extend .animation-fade-in;
            animation-fill-mode: backwards;
            animation-delay: .8s;
        }
    }
}


.hero__content {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 4;

    @media ($screen-md) {
        align-self: flex-start;
        margin-top: $spacer * 4;
        margin-bottom: 0;
    }
}


.hero__community {
    align-self: flex-end;
    width: 100%;

    // resemble menu background, but a bit darker background
    background: rgba($brand-main-blue-dark, .6);
    backdrop-filter: saturate(150%) blur(10px);
    border-top: 1px solid rgba($brand-main-gray, .5);
    border-bottom: 1px solid rgba($brand-main-gray, .5);

    .btn {
        font-weight: $font-weight-normal;
        box-shadow: none;
        background: none;
        opacity: .8;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:first-child {
            display: block;

            @media ($screen-sm) {
                display: inline-block;
            }
        }
    }

    .stargazers {
        font-size: .6rem;
        line-height: 1;
        background: rgba($brand-main-gray-lighter, .15);
        padding: .1rem .3rem;
        border-radius: 1rem;
        margin-top: -.1rem;
        display: inline;
    }
}


.hero__more {
    color: #fff;
    opacity: .8;
    align-self: flex-end;
    margin-bottom: $spacer;
    width: 100%;
    display: none;

    @media ($screen-md) {
        display: block;
    }

    &:hover,
    &:focus { opacity: 1; }

    // the caret
    .icon {
        width: 12px;
        height: 12px;
        stroke: #fff;
        display: block;
        margin: auto;
    }
}
