.loader {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    text-indent: -9999rem;
    border-top: 2px solid rgba(#fff, .2);
    border-right: 2px solid rgba(#fff, .2);
    border-bottom: 2px solid rgba(#fff, .2);
    border-left: 2px solid #fff;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;
    display: inline-block;
}

.loader--dark {
    border-top-color: rgba($brand-main-blue, .2);
    border-right-color: rgba($brand-main-blue, .2);
    border-bottom-color: rgba($brand-main-blue, .2);
    border-left-color: $brand-main-blue;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
