//
// Logo
// ---
// bigchain.io
//

// default logo
.logo {
    fill: $brand-main-blue;
    color: $brand-main-green; // the fill="currentColor" trick
    width: 300px;
    height: 30px;
}


//
// Color modifiers
//
.logo--white {
    fill: #fff;
    color: #fff;
}

.logo--white--green {
    fill: #fff;
    color: $brand-main-green;
}


//
// size modifiers
//
.logo--sm {
    width: 150px;
    height: 15px;
}

.logo--full {
    display: block;
    width: 100%;
    height: auto;
}


//
// color modifiers
//
.logo--dark {
    fill: $brand-main-blue-dark;
}
