//
// Logo
// ---
// bigchain.io
//

// default logo
.logo {
    fill: #fff;
    width: 300px;
    height: 30px;
}


//
// Color modifiers
//
.logo--white {
    fill: #fff;
    color: #fff;
}


//
// size modifiers
//
.logo--sm {
    width: 140px;
    height: 12px;
}

.logo--full {
    display: block;
    width: 100%;
    height: auto;
}


//
// color modifiers
//
.logo--dark {
    fill: $brand-main-blue-dark;
}
