
figure {
    margin: 0;
}

.img--responsive {
    max-width: 100%;
    height: auto;
}


//
// Responsive video
//
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


//
// Responsive iframe
//
iframe {
    max-width: 100%;
}

.iframe-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
