.nyan {
    position: relative;
    background: rgba(#144f8d, .5);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/nyan2.gif') no-repeat left center;
        background-size: 50%;
        z-index: 0;
        opacity: 0;
        animation: nyan-fadein .6s ease-out forwards;
    }

    code {
        position: relative;
        z-index: 2;
    }
}

@keyframes nyan-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .4;
    }
}
