
.section {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
    min-height: 420px;

    // use this so animated elements coming in from outside of screen
    // don't affect layout
    overflow: hidden;

    // vertically center everything
    display: flex;
    align-items: center;

    .row { flex: 1 }

    @media ($screen-sm) {
        padding-top: ($spacer * 3);
        padding-bottom: ($spacer * 3);
    }
}

.section-title,
.section-description {
    text-align: center;
    
    @media ($screen-sm) {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-title {
    font-size: $font-size-h3;
    margin-top: 0;
    margin-bottom: $spacer;

    @media ($screen-sm) {
        font-size: $font-size-h2;
    }
}

.section-description {
    color: $text-color;
    margin-bottom: 0;

    + .section-description {
        margin-top: $spacer;
    }
}

.section-actions {
    margin-top: $spacer;

    .btn {
        margin-left: 5px;
        margin-right: 5px;
        min-width: 200px;
    }
}


//
// Section backgrounds
//
.background--blue {
    background: $brand-main-blue;

    * { color: #fff }
}

.background--black {
    background: $brand-main-black;

    * { color: #fff }
}

.background--gray-dark {
    background: $gray-dark;

    * { color: #fff }
}
