
.section {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);

    &:last-child { border-bottom: none; }

    // use this so animated elements coming in from outside of screen
    // don't affect layout
    overflow: hidden;

    // vertically center everything
    display: flex;
    align-items: center;
    min-height: 420px;
    flex-wrap: wrap;

    // HEADS UP!
    // this fixes wrng wrapping of rows following each other
    // BUT only in Chrome & Firefox, it destroys complete layout in Safari
    //flex-flow: column;

    .row {
        flex: 0 0 100%;
    }

    @media ($screen-sm) {
        padding-top: ($spacer * 4);
        padding-bottom: ($spacer * 4);
    }
}

.section-header {
    margin-bottom: ($spacer * 4);
}

.section-title,
.section-description {
    text-align: center;

    @media ($screen-sm) {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-title {
    font-size: $font-size-h2;
    margin-top: 0;
    margin-bottom: ($spacer * 2);

    // the bottom line
    &:after {
        content: "";
        height: 1px;
        width: 5rem;
        display: block;
        margin: ($spacer * 2) auto 0 auto;
        background: $gray;
    }
}

.section-description {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-bottom: 0;

    + .section-description {
        margin-top: $spacer;
    }
}

.section-actions {
    margin-top: $spacer;

    .btn {
        margin-left: 5px;
        margin-right: 5px;
        min-width: 200px;
    }
}


//
// Section backgrounds
//
.background--blue {
    background: $brand-main-blue;
}

.background--darker {
    background: $gray-darker;
}

.background--light {
    background: $gray-lightest;

    .section-title,
    p {
        color: $gray;
    }
}

.background--gray {
    background: $brand-main-gray;
}


//
// Photo background
//
.background--photo {
    @extend .color-overlay;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);

    // background
    background: url('../img/northern-lights-poster.jpg') no-repeat center center;
    background-size: cover;

    .section-title,
    .section-description,
    .header__title {
        //color: #fff;
    }
}
