//
// Utilities
// ---
// bigchaindb.com
//

/* stylelint-disable declaration-no-important  */

.invisible {
    visibility: hidden !important;
}

.hide {
    display: none !important;
}

/* stylelint-enable */

.text-hide {
    font: '0/0' a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
