@import '../../../../../node_modules/select2/src/scss/core.scss';

.select2-container--bigchaindb {
    @import 'single';
    @import 'multiple';

    .select2-dropdown {
        border-radius: $border-radius;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
        background: $gray-dark;
        color: $input-color;
        font-family: inherit;

        // resets
        border: none;
    }

    + .form-label {
        pointer-events: none;
    }

    &.select2-container--open.select2-container--above {
        .select2-selection--multiple,
        .select2-selection--single {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &.select2-container--open.select2-container--below {
        .select2-selection--multiple,
        .select2-selection--single {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .select2-search--dropdown {
        padding: 0;

        .select2-search__field {
            @extend .form-control, .form-control--sm;
            padding-left: $spacer;
            padding-right: $spacer;
            border-bottom: none !important;
            background: rgba($input-border-color, .2);
        }
    }

    .select2-search--inline {
        .select2-search__field {
            background: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
            -webkit-appearance: textfield;
        }
    }

    .select2-results > .select2-results__options {
        max-height: 20rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        @media (max-width: 27rem), (max-height: 27rem) {
            max-height: 11.25rem;
        }
    }

    .select2-results__option {
        line-height: 1;
        padding: $input-padding-x $spacer $input-padding-x $spacer;
        margin-bottom: 0;
        display: block;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // assume first item is always the empty placeholder
        &:first-child {
            display: none;
        }

        &[role=group] {
            padding: 0;
        }

        &[aria-disabled=true] {
            color: #999;
        }

        &[aria-selected=true] {
            background-color: transparent;
        }

        .select2-results__option {
            padding-left: 1em;

            .select2-results__group {
                padding-left: 0;
            }

            .select2-results__option {
                margin-left: -1em;
                padding-left: 2em;

                .select2-results__option {
                    margin-left: -2em;
                    padding-left: 3em;

                    .select2-results__option {
                        margin-left: -3em;
                        padding-left: 4em;

                        .select2-results__option {
                            margin-left: -4em;
                            padding-left: 5em;

                            .select2-results__option {
                                margin-left: -5em;
                                padding-left: 6em;
                            }
                        }
                    }
                }
            }
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $component-active-bg;
        color: $component-active-color;
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: 6px;
    }
}
