
.section-cta--services {
    .logo-services {
        margin-bottom: $spacer;
        transform: scale(.8);
        transform-origin: left;
    }

    .logo-services--text,
    .logo-services .logo {
        color: $brand-main-blue-light;
        fill: $brand-main-blue-light;
    }

    .section-header {
        margin-bottom: 0;
    }

    .section-title {
        text-align: left;

        &:after {
            display: none;
        }
    }
}
