.section--getstarted {
    padding-bottom: 0;

    .section-header {
        margin-bottom: -($spacer * 3.5);
        position: relative;
        z-index: 10;

        .btn {
            margin-top: $spacer * 2;
        }
    }
}
