// Alerts
@mixin alert-variant($background, $text-color) {
    background-color: $background;
    color: $text-color;

    .alert__icon {
        stroke: $text-color;
        border-bottom-color: rgba($text-color, .3);
    }

    .alert__link { color: darken($text-color, 10%); }
}
