
@mixin color-overlay($color-from: $brand-main-blue, $color-to: $brand-main-blue-dark) {
    position: relative;

    // color overlay
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom right, $color-from 0%, $color-to 100%);
        opacity: .7;
        z-index: 0;
    }

    .row { z-index: 1; }
}

.color-overlay {
    @include color-overlay();
}
