---
layout: base

title: Enterprise

js: page-enterprise.min.js
---

<header class="hero hero--enterprise">

    {% include menu-main.html %}

    <div class="hero__content row row--wide">
        <hgroup>
            <h1 class="section-title">Take your enterprise to the next level with blockchain technology that scales.</h1>
            <p class="section-description">From ideation to production, BigchainDB has the team and technology to deploy enterprise-grade applications and platforms for businesses looking to build the tools of tomorrow.</p>
            <a href="#" class="btn btn-primary">Get in touch</a> <a href="#" class="btn btn-secondary">Download one-pager</a>
        </hgroup>
    </div>

</header>

<section class="section">
    <div class="row row--wide">
        <header class="section-header">
            <h1 class="section-title">Better than traditional databases in every way</h1>
            <p class="section-description">Using BigchainDB in enterprises makes so much sense because this and that and this.</p>
        </header>

        <div class="section-intro__main grid grid--full grid-small--half grid--gutters">
            <div class="grid__col">
                <h3>Speed up processes</h3>
                <p>Unlock data from existing systems and share it.</p>
            </div>
            <div class="grid__col">
                <h3>Reduce costs</h3>
                <p>Transparency reduces costs for recalls, liability, loss and fraud.</p>
            </div>
            <div class="grid__col">
                <h3>Create new business models</h3>
                <p>Blockchains enable collaborative ecosystems that unleash latent value from shared data.</p>
            </div>
        </div>
    </div>
</section>

<section class="section section--enterprisecontact">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Get in touch</h1>
            <p class="section-description">La la la.</p>
        </header>

        {% include form-enterprise.html %}

    </div>
</section>
