---
layout: page

title: Frequently Asked Questions
---

<section class="section section--faq">
    <div class="row">

        <div class="faq-contents">
            {% for faq in site.data.faq %}
                <h1 class="faq-contents__title"><a href="#{{ faq.question | downcase | replace: ' ','-' | replace: '?', '' }}" data-scroll>{{ faq.question }}</a></h1>
            {% endfor %}
        </div>

        <div class="faq content--page--markdown">
            {% for faq in site.data.faq %}
                <h1 class="faq__question" id="{{ faq.question | downcase | replace: ' ','-' | replace: '?', '' }}">{{ faq.question }}</h1>
                <div class="faq__answer">{{ faq.answer | markdownify }}</div>
            {% endfor %}
        </div>

    </div>
</section>
