---
layout: page

title: Features
description: "Rather than trying to scale up blockchain technology, BigchainDB starts with a big data distributed database and then adds blockchain characteristics - decentralized control, immutability and the transfer of digital assets."

features:
     - title: "Native Support of Multiassets"
       text: "With no native currency on BigchainDB, any asset, token or currency can be issued."
       icon: "icon-diamond"
     - title: "Customizable"
       text: "Design your own private network with custom assets, transactions, permissions and transparency."
       icon: "icon-settings"
     - title: "Rich Permissioning"
       text: "[Set permissions at transaction level](https://docs.bigchaindb.com/en/latest/permissions.html) to ensure a clear separation of duties and enforce selective access."
       icon: "icon-group"
     - title: "Federation Consensus Model"
       text: "Decentralized control via a federation of voting nodes makes for a super-peer P2P network."
       icon: "icon-diamond"
     - title: "Open Source"
       text: "[Open sourced](https://github.com/bigchaindb) to the community so that everyone can use it and build their own applications on top of it."
       icon: "icon-tree"
     - title: "Public or Private"
       text: "Roll out your own public or private networks for specific industry use cases."
       icon: "icon-lock"
     - title: "Query"
       text: "Leverage efficient big data query capabilities out of the box."
       icon: "icon-search"
     - title: "Petabytes Capacity"
       text: "Store arbitrary asset and transaction metadata right in BigchainDB, not elsewhere."
       icon: "icon-servers"
       comingsoon: true
     - title: "Linear Scaling"
       text: "The more nodes added, the higher the throughput and the higher the storage capacity."
       icon: "icon-scaling"
       comingsoon: true

quotes: set2
js: page-features.min.js
---

<section class="section section-features">
    <div class="row">
        <header class="section-header">
            <p class="section-description">{{ page.description }}</p>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid--gutters grid--top">

            {% for feature in page.features %}
            <div class="grid__col">
                <div class="feature">
                    <svg class="feature__icon icon">
                        <use xlink:href="/assets/img/sprite.svg#{{ feature.icon }}"></use>
                    </svg>
                    <div class="feature__detail">
                        <h1 class="feature__title">{{ feature.title }} {% if feature.comingsoon %}<span class="feature__title__comingsoon">Coming soon</span>{% endif %}</h1>
                        <div class="feature__text">{{ feature.text | markdownify }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <p class="text-center features-roadmap" >
            <a href="https://github.com/bigchaindb/org/blob/master/ROADMAP.md" class="btn btn-primary">Our Roadmap</a>
        </p>
    </div>

</section>

<section class="section section-stacks background--darker">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Made for the Decentralization Ecosystem</h1>
            <p class="section-description">BigchainDB is complementary to decentralized storage, processing and communication building blocks. It can be used side by side with higher-level decentralized computing platforms and applications, and protocols for identity, financial assets, intellectual property and sidechains. BigchainDB fills a gap in the decentralized stack.</p>
        </header>
    </div>
    <div class="row row--wide stacks">
        <div class="grid grid--full grid-medium--half grid--gutters text-center">
            <div class="grid__col">
                <h2 class="stacks__title">Traditional Stack</h2>
                <figure class="stacks__image">
                    <figcaption>BigchainDB can be seamlessly integrated into the traditional stack as a blockchain database for decentralized timestamping, certificates, smart contracts and transactions.</figcaption>
                    <img class="img--responsive" src="/assets/img/nosprite/stack-traditional.svg" />
                </figure>
            </div>
            <div class="grid__col">
                <h2 class="stacks__title">Blockchain Stack</h2>
                <figure class="stacks__image">
                    <figcaption>BigchainDB fills a missing gap in the emerging decentralized stack as a blockchain database that complements existing platforms, processing and file systems.</figcaption>
                    <img class="img--responsive" src="/assets/img/nosprite/stack-blockchain.svg" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section section-comparison">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Blockchains Meet Big Data</h1>
            <p class="section-description">BigchainDB combines the key benefits of distributed DBs and traditional blockchains, with an emphasis on scale.</p>
        </header>

        <p class="lead">We built BigchainDB on top of an enterprise-grade distributed DB, from which BigchainDB inherits high throughput, high capacity, a full-featured NoSQL query language, efficient querying and permissioning.</p>

        <figure>
            {% include table-comparison.html %}
        </figure>
    </div>
</section>

{% include sections/section-cta-whitepaper.html %}
