---
layout: page

title: Guides
---

<section class="section section--guides">
    <div class="row">
        <header class="section-header">
            <p class="section-description">These guides explain you how to get started and build apps with BigchainDB/IPDB</p>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid--gutters">
            {% for guide in site.guides %}
                <div class="grid__col">
                    <article class="guide">
                        <a href="{{ guide.url }}">
                            <h1 class="guide__title">{{ guide.title }}</h1>
                            <p class="guide__description">{{ guide.description }}</p>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section section--guides background--darker">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Tutorials</h1>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid--gutters">
            {% for tutorial in site.tutorials %}
                <div class="grid__col">
                    <article class="guide">
                        <a href="{{ tutorial.url }}">
                            <h1 class="guide__title">{{ tutorial.title }}</h1>
                            <p class="guide__description">{{ tutorial.description }}</p>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section section--guides">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Examples</h1>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid--gutters">
            {% for tutorial in site.tutorials %}
                <div class="grid__col">
                    <article class="guide">
                        <a href="{{ tutorial.url }}">
                            <h1 class="guide__title">{{ tutorial.title }}</h1>
                            <p class="guide__description">{{ tutorial.description }}</p>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>