---
layout: base

title: Services
description: "Support for BigchainDB Software"

header: hero-services.jpg
image: share-image-services.jpg
js: page-services.min.js

hero:
    title: "Support for BigchainDB software"
    description: "To learn about service providers for BigchainDB software, please contact IPDB Foundation."
    cta:
        - name: IPDB Homepage
          link: "https://www.ipdb.io"
---

<header class="hero hero--services" {% if page.header %}style="background-image:url('/assets/img/{{ page.header }}')"{% endif %}>

    {% include menu-main.html %}

    <div class="hero__content row">
        <hgroup>
            <svg class="logo logo--services logo--white">
                <use xlink:href="/assets/img/sprite.svg#logo-services"></use>
            </svg>
            <h1 class="hero__title">{{ page.hero.title }}</h1>
            <h2 class="hero__subtitle">{{ page.hero.description }}</h2>

            {% for cta in page.hero.cta %}
                <a class="btn btn-blue-light hero__action" href="{{ cta.link }}">{{ cta.name }}</a>
            {% endfor %}
        </hgroup>
    </div>

</header>
