---
layout: page

title: Get started
description: ""

js: page-getstarted.min.js

redirect_from:
    - /community/
---

<section class="section section--architecture">
    <div class="row">
        <header class="section-header">
            <p class="section-description">Rather than trying to scale up blockchain technology, BigchainDB starts with a big data distributed database and then adds blockchain characteristics - decentralized control, immutability and the transfer of digital assets.</p>
        </header>
    </div>
    <div class="row">
        <figure class="architecture">

        </figure>
    </div>
</section>

<nav class="menu--sub">
    <div class="row row--wide">
        <div class="menu-overflow">
            <a class="menu__link scroll" href="#server">Server</a>
            <a class="menu__link scroll" href="#drivers">Drivers &amp; Tools</a>
            <a class="menu__link scroll" href="#docs">Documentation</a>
            <a class="menu__link scroll" href="#community">Community</a>
        </div>
    </div>
</nav>

<section class="section section--server" id="server">
    <div class="row">

    </div>
</section>

<section class="section section--drivers background--darker" id="drivers">
    <div class="row">

    </div>
</section>

<section class="section section--docs" id="docs">
    <div class="row">

    </div>
</section>

<section class="section section--community" id="community">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Get Involved</h1>
            <p class="section-description">There are many ways you can contribute to the BigchainDB project, some very easy and others more involved. We welcome all potential contributors, so we ask that everyone participating abide by some simple guidelines.</p>

            <a href="{{ site.social.github.url }}/{{ site.social.github.repo }}/blob/master/CONTRIBUTING.md" class="btn btn-primary btn-sm">Read The Guidelines</a>
        </header>

        <div class="grid grid--full grid-small--fit grid--gutters">
            <div class="grid__col">
                <h1>Follow</h1>
                <p>Follow us for the latest updates</p>

                {% for link in site.social %}
                    <a class="social-link js-social-link" href="{{ link[1].url }}" title="{{ link[1].title }}">
                        <svg class="icon icon--social icon--{{ link[0] }}" aria-labelledby="title">
                            <title>{{ link.title }}</title>
                            <use xlink:href="/assets/img/sprite.svg#{{ link[0] }}"></use>
                        </svg>
                        <span class="social-link__title">{{ link[1].title }}</span>
                    </a>
                {% endfor %}

            </div>
        </div>

    </div>

    {% include svg/wrigley-with-stage.svg %}

</section>

{% include sections/section-newsletter.html %}
