---
layout: page

title: Get started
description: ""

js: page-getstarted.min.js

redirect_from:
    - /community/
---

<section class="section section--firsttransaction">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Get your first transaction into BigchainDB</h1>
            <p class="section-description">Never wrote something into a blockchain? Now’s your chance: add your message and send off your first transaction to BigchainDB running within IPDB.</p>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid--gutters">
            <div class="grid__col">
                <h3>Request</h3>
            </div>
            <div class="grid__col">
                <h3>Response</h3>
            </div>
        </div>
    </div>
</section>

<section class="section section--architecture">
    <div class="row">
        <header class="section-header">
            <p class="section-description">Architecture overview</p>
        </header>
    </div>
    <div class="row">
        <figure class="architecture">

        </figure>
    </div>
</section>

<nav class="menu--sub">
    <div class="row row--wide">
        <div class="menu-overflow">
            <a class="menu__link scroll" href="#server">Server</a>
            <a class="menu__link scroll" href="#drivers">Drivers &amp; Tools</a>
            <a class="menu__link scroll" href="#docs">Documentation</a>
            <a class="menu__link scroll" href="#community">Community</a>
        </div>
    </div>
</nav>

<section class="section section--server" id="server">
    <div class="row row--wide">
        <header class="section-header text-left">
            <h1 class="section-title">Get Server</h1>
        </header>
    </div>
    <div class="row row--wide">
        <div class="grid grid--full grid-small--half grid--gutters">
            <div class="grid__col">
                <h3>IPDB: the public BigchainDB network</h3>
                <p>No need for any installation. Sign up and connect instantly, we handle running a BigchainDB production node for you.</p>
                <a class="btn btn-primary" href="">Get IPDB</a>
            </div>
            <div class="grid__col">
                <h3>BigchainDB Server</h3>
                <p>If you want to run your own BigchainDB instance you can either install on Linux or with Docker on any system.</p>
                <a class="btn btn-secondary" href="">Install BigchainDB Server</a>
            </div>
        </div>
    </div>
</section>

<section class="section section--drivers background--darker" id="drivers">
    <div class="row row--wide">
        <header class="section-header text-left">
            <h1 class="section-title">Get Drivers &amp; Tools</h1>
        </header>
    </div>
    <div class="row row--wide">
        <h3>BigchainDB in your language</h3>
        <p>Get one of the drivers to connect to IPDB or your BigchainDB server instance.</p>
    </div>
    <div class="row row--wide">
        <h3>Officially supported drivers</h3>
        <div class="grid grid--full grid-small--half grid-medium--fit grid--gutters">

            {% for driver in site.data.drivers.official %}
            <div class="grid__col">
                <a class="driver" href="https://github.com/bigchaindb/{{ driver.repo }}">
                    <h2 class="driver__title">{{ driver.title }}</h2>
                    <svg class="driver__logo">
                        <use></use>
                    </svg>

                    <p class="driver__meta">
                        <span class="driver__repo">{{ driver.repo }}</span>
                        <span class="driver__version">{{ driver.version }}</span>
                    </p>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="row row--wide">
        <h3>Officially supported tools</h3>
        <div class="grid grid--full grid-small--half grid-medium--fit grid--gutters">

            {% for driver in site.data.drivers.tools %}
            <div class="grid__col">
                <a class="driver" href="https://github.com/bigchaindb/{{ driver.repo }}">
                    <h2 class="driver__title">{{ driver.title }}</h2>

                    <p class="driver__meta">
                        <span class="driver__repo">{{ driver.repo }}</span>
                        <span class="driver__version">{{ driver.version }}</span>
                    </p>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="row row--wide">
        <h3>Community supported drivers</h3>
        <div class="grid grid--full grid-small--half grid-medium--fit grid--gutters">

            {% for driver in site.data.drivers.community %}
            <div class="grid__col">
                <a class="driver driver--community" href="https://github.com/bigchaindb/{{ driver.repo }}">
                    <svg class="driver__logo">
                        <use></use>
                    </svg>
                    <h2 class="driver__title">{{ driver.title }}</h2>

                    <p class="driver__meta">
                        <span class="driver__repo">{{ driver.repo }}</span>
                    </p>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="section section--docs background--light" id="docs">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Next Up</h1>
            <p class="section-description">Dive into our documentation or learn or code.</p>
        </header>
    </div>
    <div class="row">
        <div class="grid grid--full grid-small--fit grid--gutters">
            <div class="grid__col">
                <h3>Tutorials</h3>
            </div>
            <div class="grid__col">
                <h3>Code examples</h3>
            </div>
            <div class="grid__col">
                <h3>Documentation</h3>
            </div>
        </div>
    </div>
</section>

<section class="section section--community" id="community">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">Get Involved</h1>
            <p class="section-description">There are many ways you can contribute to the BigchainDB project, some very easy and others more involved. We welcome all potential contributors, so we ask that everyone participating abide by some simple guidelines.</p>

            <a href="{{ site.social.github.url }}/{{ site.social.github.repo }}/blob/master/CONTRIBUTING.md" class="btn btn-primary btn-sm">Read The Guidelines</a>
        </header>

        <div class="grid grid--full grid-small--fit grid--gutters">
            <div class="grid__col">
                <h1>Follow</h1>
                <p>Follow us for the latest updates</p>

                {% for link in site.social %}
                    <a class="social-link js-social-link" href="{{ link[1].url }}" title="{{ link[1].title }}">
                        <svg class="icon icon--social icon--{{ link[0] }}" aria-labelledby="title">
                            <title>{{ link.title }}</title>
                            <use xlink:href="/assets/img/sprite.svg#{{ link[0] }}"></use>
                        </svg>
                        <span class="social-link__title">{{ link[1].title }}</span>
                    </a>
                {% endfor %}

            </div>
        </div>

    </div>

    {% include svg/wrigley-with-stage.svg %}

</section>

{% include sections/section-newsletter.html %}
