---
layout: page

title: Use Cases
description:

intro:
    title: For blockchain technology to go mainstream, it needs scale. At BigchainDB, we’ve taken care of that for you. 
    description: BigchainDB is for developers and organizations looking for a scalable, queryable database with blockchain characteristics such as decentralization, immutability and the ability to treat anything stored as an asset. Whether it’s attribution, licensing or value transfer, any real-world application with big data and scalability needs is the perfect fit for BigchainDB. 

We’re still in the early days of the decentralization movement and while all of the industries below are being disrupted in one way or another, there’s an abundance of opportunity within each. 


actionbar: Built something with BigchainDB? Get in touch.

js: page-usecases.min.js
---

<section class="section section--intro">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">{{ page.intro.title }}</h1>
            <p class="section-description">{{ page.intro.description }}</p>
        </header>
    </div>
</section>

<nav class="menu--sub">
    <div class="row row--wide">
        <div class="menu-overflow">
            {% for industry in site.data.industries %}
                <a class="menu__link scroll" href="#{{ industry.name | downcase | replace: " ", "" }}">
                    <svg class="icon">
                        <use xlink:href="/assets/img/sprite.svg#{{ industry.icon }}"></use>
                    </svg>
                    {{ industry.name }}
                </a>
            {% endfor%}
        </div>
    </div>
</nav>

{% for industry in site.data.industries %}

    <section class="section section--industry" id="{{ industry.name | downcase | replace: " ", "" }}">

        <header class="section-header row">
            <svg class="icon">
                <use xlink:href="/assets/img/sprite.svg#{{ industry.icon }}"></use>
            </svg>
            <h1 class="section-title">{{ industry.name }}</h1>
            <h2 class="section-title">{{ industry.tagline }}</h2>
        </header>

        <div class="row">
            <p>{{ industry.description }}</p>
        </div>

        {% if industry.usecase %}
            <div class="row">
                {% for usecase in site.usecases %}
                    {% if industry.usecase == usecase.slug %}
                    <article class="featuredusecase">

                        {% if usecase.bitmaplogo %}
                            <img class="featuredusecase__logo" src="/assets/img/{{ usecase.bitmaplogo }}" />
                        {% else %}
                            <svg class="featuredusecase__logo">
                                <use xlink:href="/assets/img/sprite.svg#logo-{{ usecase.slug }}"></use>
                            </svg>
                        {% endif %}


                        <div class="featuredusecase__content">
                            <h1 class="featuredusecase__title"><a href="{{ usecase.url }}">{{ usecase.title }}</a></h1>
                            <p>{{ usecase.description }}</p>
                            <a href="{{ usecase.url }}">Learn more</a>
                        </div>

                    </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endfor%}

<aside class="actionbar">
    <a href="/contact/">{{ page.actionbar }}</a>
</aside>

{% include sections/section-cta-whitepaper.html %}
