---
layout: page

title: Use Cases
description:

intro:
    title: BigchainDB can be used for all sorts of things
    description: Blockchain is awesome and eco system has lots of potential. I guess because my parents keep telling me to be more ladylike. As though! You lived before you met me?! Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain.

actionbar: Built something with BigchainDB? Get in touch.

js: page-usecases.min.js
---

<section class="section section--intro">
    <div class="row">
        <header class="section-header">
            <h1 class="section-title">{{ page.intro.title }}</h1>
            <p class="section-description">{{ page.intro.description }}</p>
        </header>
    </div>
</section>

<nav class="menu--sub">
    <div class="row row--wide">
        <div class="menu-overflow">
            {% for industry in site.data.industries %}
                <a class="menu__link scroll" href="#{{ industry.name | downcase | replace: " ", "" }}">
                    <svg class="icon">
                        <use xlink:href="/assets/img/sprite.svg#{{ industry.icon }}"></use>
                    </svg>
                    {{ industry.name }}
                </a>
            {% endfor%}
        </div>
    </div>
</nav>

{% for industry in site.data.industries %}

    <section class="section section--industry" id="{{ industry.name | downcase | replace: " ", "" }}">

        <header class="section-header row">
            <svg class="icon">
                <use xlink:href="/assets/img/sprite.svg#{{ industry.icon }}"></use>
            </svg>
            <h1 class="section-title">{{ industry.name }}</h1>
            <h2 class="section-title">{{ industry.tagline }}</h2>
        </header>

        <div class="row">
            <p>{{ industry.description }}</p>
        </div>

        {% if industry.usecase %}
            <div class="row">
                {% for usecase in site.usecases %}
                    {% if industry.usecase == usecase.slug %}
                    <article class="featuredusecase">

                        {% if usecase.bitmaplogo %}
                            <img class="featuredusecase__logo" src="/assets/img/{{ usecase.bitmaplogo }}" />
                        {% else %}
                            <svg class="featuredusecase__logo">
                                <use xlink:href="/assets/img/sprite.svg#logo-{{ usecase.slug }}"></use>
                            </svg>
                        {% endif %}


                        <div class="featuredusecase__content">
                            <h1 class="featuredusecase__title"><a href="{{ usecase.url }}">{{ usecase.title }}</a></h1>
                            <p>{{ usecase.description }}</p>
                            <a href="{{ usecase.url }}">Learn more</a>
                        </div>

                    </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endfor%}

<aside class="actionbar">
    <a href="/contact/">{{ page.actionbar }}</a>
</aside>

{% include sections/section-cta-whitepaper.html %}
